@font-face {
    font-family: regular;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: semibold;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: b;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body{
    background-color:#141414;
    margin:0;
    display:flex;
    align-items:center;
    height:100vh;
    color:white;
    padding:1.5em;
}

#block{
    background-color:#1F1F1F;
    text-align:center;
    border-radius:12px;
    width:384px;
    margin:auto;
}

.name{
    font-size:1.5rem;
    font-family:semibold;
}

.location{
    color:#C4F82A;
    font-family: b;
    font-size:0.875rem;
    margin-top:-15px;
}

.description{
    font-family:regular;
    font-size:0.875rem;
    margin:24px 0px 24px 0px;
}

.button{
    background-color:#333333;
    display:inline-block;
    font-family:b;
    font-size:0.875rem;
    color:white;
    border:none;
    border-radius:8px;
    width:304px;
    height:45px;
    margin-top:8px;
    margin-bottom:8px;
    overflow:auto;
}

img{
    display:block;
    margin:auto;
    border-radius:200px;
    width:88px;
    margin-top:40px;
}

.button:hover{
    background-color:#C4F82A;
    color:#333333;
    transition:1s;
    cursor:pointer;
}

/*tablet view*/
@media only screen and (max-width: 768px) {
    #block{
        width: 456px;
    }
    .button{
        width:376px;
    }
}

/*phone view*/
@media only screen and (max-width: 375px) {
    #block{
        width: 327px;
    }
    .button{
        width:279px;
    }
}